body {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.square {
  height: 30px;
  width: 30px;
  background-color: #d8c9cf;
  border-style: solid;
  border-width: 0.1px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  width: 495px;
  height: 495px;
  flex-basis: 495px;
}

.title {
  display: flex;
  justify-content: center;
}

.container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}

button {
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: azure;
  border: none;
  border-radius: 10px;
  margin: 15px 15px 20px 15px;
}

.pixel-size:hover {
  background-color: azure;
  box-shadow: 2px 2px 10px rgb(221, 218, 218);
}
